body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
